:root { 
--gray_50_01:#fafafa; 
--gray_900_14:#1a1a2014; 
--light_green_A700:#32eb22; 
--gray_900_19:#1e1e1e19; 
--green_A700:#00a441; 
--blue_gray_900_01:#242c31; 
--blue_gray_900:#2e2e2e; 
--gray_600:#808086; 
--gray_400:#c3c7ce; 
--blue_gray_100:#cdcdcd; 
--amber_500:#fbbc05; 
--gray_800:#3a3a45; 
--red_A200:#ff5151; 
--blue_600_14:#1773ea14; 
--black_900_0f:#0000000f; 
--orange_600:#ff8600; 
--black_900_0c:#0000000c; 
--gray_200:#eceded; 
--blue_50:#dbe8ff; 
--gray_100_02:#f6f7f8; 
--black_900_11:#00000011; 
--gray_100_01:#eff2fe; 
--cyan_50:#e0faf5; 
--black_900_19:#00000019; 
--blue_gray_400_01:#8d8d8d; 
--white_A700:#ffffff; 
--red_600_14:#eb334814; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_100_02:#d1d1d3; 
--red_500:#ea4335; 
--green_800:#119c2a; 
--green_600:#34a853; 
--gray_50:#f8fafc; 
--gray_500_01:#a3a3a6; 
--blue_gray_50_01:#f1f1f2; 
--blue_gray_200:#b0b9be; 
--gray_500:#949494; 
--blue_gray_400:#83909a; 
--amber_600:#ffb800; 
--blue_gray_600:#5a6771; 
--gray_900:#1d1d18; 
--gray_300:#dde2e4; 
--gray_300_01:#e6e6e7; 
--gray_100:#f5f5f5; 
--teal_A400:#34da95; 
--blue_800_14:#2764ac14; 
--orange_600_28:#ff860028; 
--orange_50:#fff0e0; 
--blue_400:#4a90e2; 
}